<header id="header">
    <!-- Light/Dark Mode Icon -->
    {%- if site.enable_darkmode %}
    <li class="toggle-container">
      <button id="theme-toggle" title="Change theme">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
      </button>
    </li>
  {%- endif %}
      <div class="inner">
        {% if site.avatar %}
        <a class="image avatar"><img src="{{site.avatar}}" alt="avatar" onContextMenu="return false" /></a>
        {% endif %}
        <h1 class="header-title"><strong><header-title>{{ site.title }}</header-title></strong><br></h1>
        <header-info>
        {% if site.position %}
        {{ site.position }}
        {% endif %}
        <br>
        {% if site.affiliation %}
        {{ site.affiliation }}
        {% endif %}
        <br>
        {% if site.location %}
        <i class="fas fa-map-marker-alt" style="font-size: 14px; padding-right: 5px;"></i> {{ site.location }}
        {% endif %}
        <br>
        </header-info>
      </div>
</header>
